@import '../../styles/mixin.scss';

.information-section {
		padding-top: 20px;
		margin-bottom: 44px;
		.container{
			.information-title {
				@include section-titles;
			}

			.information-row-list {
				padding: 40px;
				display: flex;
				gap: 30px;
				justify-content: space-between;
				flex-wrap: wrap;
				margin-bottom: 32px;
			}

			.info-btn {
				display: flex;
				justify-content: center;
				button {
					@include section-btn;
				}
			}
		}
}


@media (max-width: 844px) {
	.information-section .container .information-row-list {
		justify-content: center;
	}
}