.header {
	width: 100%;
	.header-items {
		width: 100%;
		height: 95vh;
		background-image: url('../../assets/image/bg1\ 1.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		
		.container {
			width: 95%;
			margin: 0 auto;
			.row{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;


				.col-6 {
					width: 582px;
					height: 211px;
					margin-top: 162px;
					display: flex;
					flex-direction: column;
					gap: 16px;
					
					h3 {
						//styleName: H1;
						font-family: Montserrat;
						font-size: 32px;
						font-weight: 600;
						line-height: 40px;
						color: #2C2D2E;
					}
					.header-first-text {
						//styleName: fontFootnote;
						font-family: Montserrat;
						font-size: 13px;
						font-weight: 500;
						line-height: 13px;
						color: #2C2D2E;						
					}
					.header-second-text {
						width: 582px;
						//styleName: fontBody;
						font-family: Montserrat;
						font-size: 15px;
						font-weight: 400;
						line-height: 20px;
						
					}
					.header-btn {
						background: #EF7C00;
						border: none;
						padding: 10px 20px;
						width: 102px;
						font-family: Montserrat;
						border-radius: 4px;
						font-size: 15px;
						font-weight: 400;
						line-height: 20px;
						text-align: center;
						color: #FFFFFF;
					}
				}

				.col-icon {
					margin-top: 137px;
					display: flex;
					flex-direction: column;
					gap: 30px;
					.icons {
						font-size: 20px;
						a {
							color: #EF7C00;
						}
					}
				}
			}
		}
	}

}


.button__bar li button {
		padding: 2px;
		background: none;
		border-radius: 50%;
		border:  1px solid #EF7C00;
		font-size: 0;
}

.button__bar li button::before {
	font-size: 0;
}


.button__bar  {
	position: absolute;
	left: 39px;
	bottom: 40px;
	display: flex !important;
	gap: 20px;
	list-style-type: none;
}

.button__bar li.slick-active button {
	background-color: #EF7C00;
}
@media (max-width: 952px) {
	.header-items {
		padding-top: 10px;
	}
	.header .header-items .container .row .col-icon  {
		margin-top: 20px;
		flex-direction: row;
		align-items: center;
		.icons img {
			width: 26px;
		}
	}
	.header .header-items .container .row  {
		flex-direction: column;
		align-items: baseline;
		gap: 60px;
		
	}
}


@media (max-width: 591px){
	.header .header-items {
		height: 70vh;
	}
	.header .header-items .container .row .col-6 {
		margin-top: 50px;
	}

	
	.header .header-items .container .row .col-6 h3 {
		font-size: 24px;
	}

	.header .header-items .container .row .col-6 .header-second-text {
		width: 300px;
		font-size: 14px;
	}
}