@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}


.lean-group {
  background-color: white;
}


.container {
  width: 80%;
  margin: 0 auto;
}


.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
}


/* Target the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  /* Set the width of the scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar:hover {
  background: #e1e1e1;
  /* Change the background color on hover */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Set the color of the scrollbar handle */
  border-radius: 4px;
  /* Set the border-radius to round the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Change the color on handle hover */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Set the color of the scrollbar track */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #ccc;
  /* Change the color on track hover */
}

/* Corner */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
  /* Set the color of the scrollbar corner (where vertical and horizontal scrollbars meet) */
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}



@media (max-width: 354px) {
  body {
    overflow-x: hidden;
  }
}